

<link href="{{ url_for('.static', filename='css/chat.css') }}" rel="stylesheet">
<script>
    var channel_id = {{ channel_id }};
</script>




<div class="chat-main">
    <div class="help-block">
    </div>

    <div class="content-window">
        <div class="bg-block"></div>
        <div class="scrollable">
            <div class="scrollbar"></div>
            <div class="scroll-content">
                <div class="chat-message">

                </div>
            </div>
        </div>
    </div>

    <div class="control-panel">
        <div class="pull-right">
            А Б С
        </div>
    </div>

    <div class="chat-control-block">
        <div class="text-block">
            <div class="smiles"></div>
            <div class="textarea" placeholder="Напишите сообщение..."></div>
        </div>
    </div>
</div>


<script src=""></script>
