<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link href="" rel="stylesheet">
    <script>
        var channel_id = {{ channel_id }};
    </script>
    {% endblock %}
</head>
<body>

{% block chat %}
<div class="chat-main">
    <div class="help-block">
    </div>

    <div class="content-window">
        <div class="bg-block"></div>
        <div class="scrollable">
            <div class="scrollbar"></div>
            <div class="scroll-content">

            </div>
        </div>
    </div>

    <div class="control-panel">
        <div class="pull-right">
            А Б С
        </div>
    </div>

    <div class="chat-control-block">
        <div class="text-block">
            <div class="smiles"></div>
            <div class="textarea" placeholder="Напишите сообщение..."></div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script src=""></script>
{% endblock %}

</body>
</html>