<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Чат канала</title>
    <link href="../../static/css/pages/chat.css" rel="stylesheet">
</head>
<body>


<div class="chat-main">
    <div class="help-block">
    </div>

    <div class="content-window">
        <div class="bg-block"></div>
        <div class="scrollable">
            <div class="scrollbar"></div>
            <div class="scroll-content">

            </div>
        </div>
    </div>

    <div class="control-panel">
        <div class="pull-right">
            А Б С
        </div>
    </div>

    <div class="chat-control-block">
        <div class="text-block">
            <div class="smiles"></div>
            <div class="textarea" placeholder="Напишите сообщение..."></div>
        </div>
    </div>
</div>


<script src="../../static/js/pages/chat.js"></script>

</body>
</html>